<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/js/css/layui.css"  media="all">
    {% load static %}
    <style>
    body{
            background-image: url({% static 'images/img4.gif' %});
            background-repeat: no-repeat;
            background-size: 100%;
    }
    h1{
        text-align: center;
        margin-top: 200px;
        font-size: 70px;
        color: #0C0C0C;
    }
    </style>
</head>
<body>
    <h1>欢 迎 进 入 房 产 信 息 管 理 系 统</h1>
</body>
<html>
